.navbar {
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 2rem 2rem;
}
h1{
    color: var(--accent-font-color);
}
li {
    display: flex;
    gap: 1rem;
}