:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  --main-bg-color: #FAF7FF;
  --third-bg-color: #FAF7FF;
  --main-font-color: #383838;
  --accent-font-color: #FF6F91;
}

#root, body{
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
  align-items: center;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
}

input,
textarea {
  background-color: var(--third-bg-color);
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

a{
  color:var(--main-font-color);
  text-decoration: none;
}
a:visited{
  color:inherit;
}